@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,800&display=swap');

/* ------------- RESET -------------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ------------- HEADER -------------*/

header {
    background-color: #E6850E;
    padding: 0px 10px 10px 15px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header div img{
    align-items: center;
    display: flex;
}

header h1{
    color: rgb(255, 255, 255);
    font-size: 50;
    font-weight: 900;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* ------------- MAIN -------------*/

.grid-container{
    width: 100%;
    margin: auto;
    display: grid;
}

.hero{
    width: 100%;
    height: 85vh;
    background-image: url(../img/fondo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    grid-area: header;
    color: rgb(255, 255, 255)07, 205, 205)07, 205, 205);
    text-align: center;
    flex-direction: ;
}

.hero h2{
    display: inline-block;
    font-size: 70px;
    padding: 15px;
    color: black;
}

.hero p{
    font-size: 30px;
    margin-bottom: 25px;
    color: black;
    
}

.boton{
    text-decoration: none ;
    color: white;
    background-color: black;
    padding: 10px;
}

.bienvenidos{
    display: flex;
    background-color: rgb(187, 187, 187);
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.bienvenidos img{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bienvenidos div{
    width: 50%;
    text-align: center;

}

.productos h2{
    padding: 0% 10px 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap ;
    padding: 0% 10px 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.productos > div{
    padding: 0% 10px 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap ;
    padding: 0% 10px 10px 15px;
}

.productos div div{
    border: 2px solid black;
    text-align: center;
    background-color:  rgb(187, 187, 187);
    color: white;
    box-shadow: 10px 10px 38px 4px;
    padding: 30px;
}

.productos div h3{
    margin-bottom: 25px;
}

.productos div img{
    width: 200px;
    height: 200px;
}

.productos div a{
    text-decoration: none;
    color: black;
    background-color:white;
    padding: 10px;
}

.position{
    position: fixed;
    bottom: 100px;
    right: 50px;
}

.position img{
    width: 50px;
}

/* ------------- FOOTER -------------*/

footer{
    padding: 15px;
    background-color: #E6850E;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
    align-items: center;
}

footer img{
    width: 50%;
    height: 50%;
}

footer div a img{
    width: 50px;
    height: 50px;
    padding: 15px;
}

/*---- MEDIA QUERY ----*/

@media screen and (max-width:1050px){
    .grid-container{
        
    }